<!DOCTYPE html>
<html>
<head>

</head>

<body>
  <form if="prac1" action="/update" method="post">
    <input type="text" id="id" placeholder="Enter contact id" required/>
    <input type="text" id="phno" plcaeholder="Enter contact number" />
    <button type="submit">Update Phone Number</button>
  </form>

</body>
</html>
